<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestor Biblioteca</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Bienvenido al Gestor de Biblioteca</h1>
    <nav class="mb-4">
        <ul class="nav nav-pills">
            <a class="nav-link" th:href="@{/biblioteca/lista-libros}">Lista de Libros</a>
            <li class="nav-item"><a class="nav-link" th:href="@{/buscar}">Buscar Libro</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/prestamo-form}">Registrar Préstamo</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/devolucion-form}">Registrar Devolución</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/biblioteca/agregar-libro}">Agregar Libro</a></li>
        </ul>
    </nav>
</div>
</body>
</html>
